
<ul>
  <li><a [routerLink]="'db'">db</a></li>
  <li><a [routerLink]="'other'">other</a></li>
  <li><a [routerLink]="'fix-img'">fix-img</a></li>
  <li><a [routerLink]="'pipes'">pipes</a></li>
  <li><a [routerLink]="'life-cycle/interfaces'">life-cycle interface</a></li>
  <li><a [routerLink]="'life-cycle/child-ref'">life-cycle child-ref</a></li>
  <li><a [routerLink]="'life-cycle/change-value'">life-cycle change-value</a></li>
  <li><a [routerLink]="'life-cycle/parent-child-GS'">life-cycle parent-child-grandson</a></li>
  
</ul>

<router-outlet></router-outlet>




<!--
<br><br><br><br><hr><hr>
<h1>non navigation comps</h1>

<ul>
  <li><button (click)="nonNav = 'c1'">c1</button></li>
  <li><button (click)="nonNav = 'c2'">c2</button></li>
  <li><button (click)="nonNav = 'c3'">c3</button></li>
</ul>

<app-c1 *ngIf="nonNav == 'c1'"></app-c1>
<app-c2 *ngIf="nonNav == 'c2'"></app-c2>

<app-c3 *ngIf="nonNav == 'c3'"></app-c3>
<app-db-wrapper *ngIf="nonNav == 'c3'"></app-db-wrapper>

-->